body {
  font-family: Arial;
  background: url(../img/bg.jpg) repeat;
}

.body {
  width: 570px;
  height: 570px;
  margin: 0 auto;
  text-align: center;
}

.header {
  position: absolute;
  left: 29px;
  top: -3px;
  background-color: #01c3c3; 
}

.header .create {
  margin: 0;
  color: #ffffff;
  text-align: center;
  font-style: bold;
  padding: 6.5px 8.5px;
  text-transform: uppercase;
  border: 1px solid rgb(207, 222, 222);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.03);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.form {
  margin: 0 auto;
  margin-top: 100px;
  width: 320px;
  height: 370px;
  background-color: #ffffff;
  display: inline-block;
  position: relative;
  padding-top: 37px;
}
.form input {
  width: 260px;
  height: 29px;
  padding: 9px 14px;
  box-sizing: border-box;
  font-style: italic;
  font-size: 12px;
  background: url(../img/bg.jpg) no-repeat;
  border: 0;
  outline: none;
}
.form p {
  line-height: 12px;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  margin-left: 30px;
}
.email {
  margin-top: 17px;
  margin-bottom: 13px;
}
.ch-p {
  margin-top: 19px;
  margin-bottom: 17px;
} 
.co-p {
  margin-top: 19px;
  margin-bottom: 15px;
}
span {
  color: #01b3b3;
}
.form input::placeholder {
  padding-left: 1px;
}
.btn {
  margin-top: 36px;
  width: 260px;
  height: 45px;
  border: 0;
  border-radius: 4px;
  padding: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  background: #01b2b2; /  Old browsers /
  background: -moz-linear-gradient(top, #01b2b2 0%, #01b1b1 51%, #01b4b4 100%); /  FF3.6-15 /
  background: -webkit-linear-gradient(top, #01b2b2 0%,#01b1b1 51%,#01b4b4 100%); /  Chrome10-25,Safari5.1-6 /
  background: linear-gradient(to bottom, #01b2b2 0%,#01b1b1 51%,#01b4b4 100%); /  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ /
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01b2b2', endColorstr='#01b4b4',GradientType=0 ); / IE6-9 */
}
